<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <clear />
        <add name="ChessarLongPathsTraceListener" type="System.Diagnostics.TextWriterTraceListener"
             traceOutputOptions="None" initializeData="d:\temp\ChessarLongPaths.log" />
      </listeners>
    </trace>
  </system.diagnostics-->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.6.2"/>
  </system.web>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false"/>
  </runtime>
</configuration>
