<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <clear />
        <add name="ChessarLongPathsTraceListener" type="System.Diagnostics.TextWriterTraceListener"
             traceOutputOptions="None" initializeData="d:\temp\ChessarLongPaths.log" />
      </listeners>
    </trace>
  </system.diagnostics-->
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false"/>
  </runtime>
</configuration>